@page{
    margin-left: 1.5cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.alumno {
    border-style: solid;
    border-width: 1px;
    height: 2em;
    width: 95%;
}
.pagina {
    page-break-before: always;
    padding-bottom: .5em;
}
.ejemplar {
    page-break-after: always;
}
h1 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0em;
}
/*
.pregunta {
    page-break-inside: avoid;
}
*/
li.simple {
    /*list-style-type: circle;*/
    list-style-image: url(circulo.png)
}
li.multiple {
    /*list-style-type: square;*/
    list-style-image: url(cuadrado.png)
}
ol {
    padding-left: 12px;
    margin-top: 2em;
    list-style-type: 1;
}
ol li {
    border-left: 0;
}
ul {
    padding-left: 25px;
    list-style-type: circle;
    margin-top: .4em;
    margin-bottom: 1em;
    page-break-inside: avoid;
}
ul li {
    margin-top: .25em;
    font-size: .85em;
}

