@page{
    margin-left: 1.5cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.alumno {
    border-style: solid;
    border-width: 1px;
    height: 2em;
    width: 95%;
}
.pagina {
    page-break-before: always;
    padding-bottom: .5em;
}
.ejemplar {
    page-break-after: always;
}
h1 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 0em;
}
li.pregunta{
    page-break-inside: avoid;
}
li.pregunta_simple {
}
li.pregunta_multiple {
}
li.pregunta_text {
}
.espacio_text {
    border-style: solid;
    border-width: 2px;
}
li.pregunta_sin_opciones {
}
li.opcion {
}
li.opcion_simple {
    /*list-style-type: circle;*/
    list-style-image: url(circulo.png)
}
li.opcion_multiple {
    /*list-style-type: square;*/
    list-style-image: url(cuadrado.png)
}
li.opcion_text {
    margin: 5px;
}
ol {
    padding-left: 30px;
    margin-top: 2em;
    list-style-type: 1;
}
ol li.pregunta {
    border-left: 0;
    margin-bottom: .8em;
}
ul.pregunta {
    padding-left: 25px;
    list-style-type: circle;
    margin-top: .4em;
    margin-bottom: 1em;
    page-break-inside: avoid;
}
ul li.opcion {
    margin-top: .25em;
    font-size: .85em;
}
p {
    margin-top:.2em;
    margin-bottom:.4em;
}
pre {
    font-family: monospace;
    font-size: 1.2em;
    margin: 3px 10px 3px 10px;
}
hr {
    padding: 20px 0px 30px 0px;
}
img {
    padding: 20px 0 20px 0;
}

